.pageContainer {
  width: 100%;
  padding-left: 27.5%;
  padding-right: 27%;
  padding-top: 5%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-self: center;
}
.innerContainer {
  display: inline;
  /* border-radius: 1px solid red; */
  width: 50%;
}
.secondContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgLogin {
  max-width: 70%;
}
