.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 44px);
  overflow-y: scroll;
}
.projectContainer {
  width: 50%;
  margin-top: 2%;
  align-self: center;
  margin-bottom: 2%;
}
.titleHolder {
  margin-bottom: 5%;
}
.falsePageHeader,
.truePageHeader {
  font-weight: bold;
  font-size: 1.3em;
}
.falsePageHeader {
  color: var(--font-color-light);
}
.truePageHeader {
  color: var(--font-color-dark);
}
.todayDate {
  font-size: 0.8em;
  color: #808080;
}
.falseSubHeader,
.trueSubHeader {
  font-weight: bold;
  width: 100%;
  margin-bottom: 0.5%;
}

.falseSubHeader > span {
  color: var(--font-color-light);
}
.trueSubHeader > span {
  color: var(--font-color-dark);
}
