.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 4.07vh);
  overflow-y: scroll;
}
.projectContainer {
  width: 50%;
  margin-top: 2%;
  align-self: center;
  margin-bottom: 2%;
}
.falseSectionTitle {
  color: var(--font-color-light);
}
.trueSectionTitle {
  color: var(--font-color-dark);
}
