.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 44px);
  overflow-y: scroll;
}
.projectContainer {
  width: 50%;
  margin-top: 2%;
  align-self: center;
  margin-bottom: 2%;
}
.titleHolder {
  margin-bottom: 5%;
}
.falsePageHeader,
.truePageHeader {
  font-weight: bold;
  font-size: 1.3em;
}
.falsePageHeader {
  color: var(--font-color-light);
}
.truePageHeader {
  color: var(--font-color-dark);
}
.todayDate {
  font-size: 0.8em;
  color: #808080;
}
.falseSubHeader,
.trueSubHeader {
  font-weight: bold;
  width: 100%;
  margin-bottom: 0.5%;
}

.falseSubHeader > span {
  font-size: 0.85em;
  color: var(--font-color-light);
}
.trueSubHeader > span {
  font-size: 0.85em;
  color: var(--font-color-dark);
}

.emptyDayContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emptySvgContainer {
  width: 30%;
}
.falseEmptyTitle,
.trueEmptyTitle {
  margin-bottom: 3%;
}
.falseEmptyTitle {
  color: var(--font-color-light);
}
.trueEmptyTitle {
  color: var(--font-color-dark);
}
.falseEmptyBlurb,
.trueEmptyBlurb {
  font-size: 0.9em;
}
.falseEmptyBlurb {
  color: #7f7f7f;
}
.trueEmptyBlurb {
  color: #a5a5a5;
}
.emptyBtnHolder {
  margin-top: 5%;
  width: 12%;
  height: 3.5vh;

  /* border: 1px solid white; */
}
