.falseButtonShape,
.trueButtonShape {
  border-radius: 3px;
  height: 28px;
  width: fit-content;
  min-width: 125px;
  max-width: 250px;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding-right: 1%;
  padding: 1%;
  white-space: nowrap;
}
.falseButtonShape {
  border: 1px solid #cccccc;
}
.trueButtonShape {
  border: 1px solid #555555;
}
.falseButtonShape:hover {
  background-color: #eeeeee;
}
.trueButtonShape:hover {
  background-color: #363636;
}
.falseButtonShape > span {
  width: 100%;
  color: var(--font-color-light);
}
.trueButtonShape > span {
  color: var(--font-color-dark);
}

.optionModalBg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12.5%;
  cursor: default;
}

.falseOptions,
.trueOptions {
  background-color: white;
  width: 50vh;
  border-radius: 5px;
  max-height: 220px;
  overflow-y: auto;
  box-shadow: 2px 2px 4px rgb(122, 122, 122);
}
.falseOption,
.trueOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 4%;
  cursor: pointer;
  gap: 1%;
}
.falseOption:hover {
  background-color: #f3f3f3;
}
.trueOption:hover {
  background-color: #363636;
}
.dot,
.dotDropdown {
  min-height: 10px;
  min-width: 10px;
  border-radius: 100%;
  margin-left: 1.5%;
  margin-right: 1.4%;
}
.dot {
  margin: 0%;
  margin-right: 5%;
  margin-left: 1%;
}
