.modalBgDarkGray {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.falseFormContainer,
.trueFormContainer {
  background-color: white;
  margin-top: 3vh;
  height: fit-content;
  width: 21.14vw;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
}
.falseFormContainer {
  background-color: var(--bg-light);
}
.trueFormContainer {
  background-color: var(--nav-bar-dark);
}
.falseFormTitle,
.trueFormTitle {
  height: 5.09vh;
  width: 100%;
  border-radius: 9px 9px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.falseFormTitle > span,
.trueFormTitle > span {
  padding-left: 24px;
  padding-right: 24px;
  font-weight: bold;
}

.falseFormTitle > span {
  color: var(--font-color-light);
}
.trueFormTitle > span {
  color: var(--font-color-dark);
}
.falseFormTitle {
  border-bottom: 1px solid #dddddd;
  background-color: var(--modal-header-bg-light);
}
.trueFormTitle {
  border-bottom: 1px solid #333333;
  background-color: var(--modal-header-bg-dark);
}

.falseInputContainer,
.trueInputContainer {
  width: 100%;
  height: fit-content;
}
.falseInput,
.trueInput {
  width: 100%;
  padding-left: 1.05vw;
  padding-right: 1.05vw;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.falseInput > label,
.trueInput > label {
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 3%;
}
.falseInput > label {
  color: var(--font-color-light);
}
.trueInput > label {
  color: var(--font-color-dark);
}

.falseInput > input,
.trueInput > input,
.falseInput > select,
.trueInput > select {
  height: 2em;
  padding-left: 2%;
  border-radius: 5px;
}

.trueInput > select {
  background-color: var(--modal-input-bg-dark);
  color: var(--font-color-dark);
}
.trueInput > input {
  background-color: var(--modal-input-bg-dark);
  color: var(--font-color-dark);
}
.trueInput > span {
  color: var(--font-color-dark);
}

.falseBtnHolder,
.trueBtnHolder {
  display: flex;
  align-items: center;
  padding-right: 5%;
  justify-content: flex-end;
  margin-top: 8%;
  border-radius: 0px 0px 10px 10px;
  height: 5vh;
  gap: 3%;
}
.falseBtnHolder {
  border-top: 1px solid #dddddd;
}
.trueBtnHolder {
  border-top: 1px solid #333333;
}

.trueCancelBtn,
.falseCancelBtn,
.falseConfirmation,
.trueConfirmation {
  font-size: 13px;
  font-weight: bold;
  line-height: 17px;
  cursor: pointer;
  padding: 6px 12px 7px;
  border-radius: 3px;
}
.falseCancelBtn {
  border: 1px solid var(--modal-cancel-btn-border-light);
  background: var(--modal-cancel-btn-bg-light);
  color: var(--font-color-light);
  transition: border 200ms;
}
.falseCancelBtn:hover {
  border: 1px solid #999999;
  transition: border 200ms;
}
.trueCancelBtn {
  border: none;
  background: var(--modal-cancel-btn-bg-dark);
  color: var(--font-color-dark);
}
.falseConfirmation {
  background: #db4c3f;
  color: white;
  border: none;
}
.trueConfirmation {
  background: #de4c4a;
  color: white;
  border: none;
}

.trueConfirmation:disabled {
  background: #5e3332;
  color: #686868;
  pointer-events: none;
}
.falseConfirmation:disabled {
  background: #f4cac6;
  pointer-events: none;
}
.errorContainer {
  width: 100%;
  height: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}
.errorContainer > div {
  font-size: 0.8em;
  color: red;
}
