.sideMenuContainer {
  position: sticky;
  top: 4.07vh;
  height: 95.95vh;
  width: 15.76vw;
}

.falseContainer,
.trueContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.falseContainer {
  background-color: var(--sidebar-light);
}
.trueContainer {
  background-color: var(--sidebar-dark);
}
.sideInteractions {
  margin-top: 2vh;
  margin-left: 2vh;
  width: 88.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sideBtn,
.sideItem {
  border-radius: 5px;
  padding-top: 0.75vh;
  padding-bottom: 0.75vh;
  padding-left: 1vh;
  display: flex;
  flex-direction: row;
  gap: 2%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.sideBtn:hover {
  background-color: rgba(210, 210, 210, 0.479);
}
.sideItem > span,
.sideBtn > span {
  font-size: 0.9em;
}
.addProjBtn {
  height: 25px;
  width: 25px;
}
.addProjBtn:hover {
  background-color: slategray;
}
