.falseTaskTitle {
  color: var(--font-color-light);
}
.trueTaskTitle {
  color: var(--font-color-dark);
}
.falseTaskContainer,
.trueTaskContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5%;
  height: fit-content;
  align-items: center;
}
.falseTaskContainer {
  border-top: 1px solid #f0f0f0;
}
.trueTaskContainer {
  border-top: 1px solid #363636;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5%;
  width: 100%;
}

.taskUserInteractions {
  display: flex;
  flex-direction: row;
}
.taskUserInteractions:hover {
  opacity: 1;
}
.addTaskPlus {
  height: 24px;
  width: 24px;
}
.falseTaskInfo,
.trueTaskInfo,
.trueTaskLowerInfo,
.falseTaskLowerInfo {
  height: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.descripContainer {
  width: 100%;
  padding-left: 2.5%;
  padding-right: 4%;
  height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5%;
  font-size: 0.7em;
  color: #808080;
}
.trueTaskLowerInfo,
.falseTaskLowerInfo {
  margin-left: 2.7%;
  font-size: 0.7em;
}
.falseTaskLowerInfo > span {
  color: var(--font-color-light);
}
.trueTaskLowerInfo > span {
  color: var(--font-color-dark);
}
.trueTaskLowerInfo > .projectNameContainer > span {
  color: var(--font-color-dark);
}
.littleCircle {
  height: 8px;
  width: 8px;
  margin-left: 2%;
  border-radius: 100%;
}
.projectNameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
}
.projectName {
  width: 5vw;
}
.taskManipulate {
  display: flex;
  flex-direction: row;
}

.falseUserInteractionBtn,
.trueUserInteractionBtn {
  border-radius: 5px;
  cursor: pointer;
}
.falseUserInteractionBtn:hover {
  background-color: #eeeeee;
}
.trueUserInteractionBtn:hover {
  background-color: #4d4d4d;
}

.falseTaskLowerInfo .overdue {
  color: #d1453b;
}
.trueTaskLowerInfo .overdue {
  color: #ff7066;
}
.leftContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 55%;
}
