.falseTaskTitle {
  color: var(--font-color-light);
}
.trueTaskTitle {
  color: var(--font-color-dark);
}
.falseTaskContainer,
.trueTaskContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.5%;
  height: 6vh;
  align-items: center;
}
.falseTaskContainer {
  border-top: 1px solid #f0f0f0;
}
.trueTaskContainer {
  border-top: 1px solid #363636;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5%;
  width: 100%;
}

.taskUserInteractions {
  display: flex;
  flex-direction: row;
}
.taskUserInteractions:hover {
  opacity: 1;
}
.addTaskPlus {
  height: 24px;
  width: 24px;
}
.falseTaskInfo,
.trueTaskInfo,
.trueTaskLowerInfo,
.falseTaskLowerInfo {
  height: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trueTaskLowerInfo,
.falseTaskLowerInfo {
  margin-left: 2.7%;
  font-size: 0.7em;
}
.falseTaskLowerInfo > span {
  color: var(--font-color-light);
}
.trueTaskLowerInfo > span {
  color: var(--font-color-dark);
}
.trueTaskLowerInfo > .projectNameContainer > span {
  color: var(--font-color-dark);
}
.littleCircle {
  height: 8px;
  width: 8px;
  /* background-color: black; */
  margin-left: 2%;
  border-radius: 100%;
}
.projectNameContainer {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
}
.projectName {
  width: 5vw;
}
