@font-face {
  font-family: 'Graphik Web Regular Regular';
  src: url('./@font-face/105007d99d9df64c50cc24d696d79555.eot'); /* IE9*/
  src: url('./@font-face/105007d99d9df64c50cc24d696d79555.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./@font-face/105007d99d9df64c50cc24d696d79555.woff2')
      format('woff2'),
    /* chrome、firefox */
      url('./@font-face/105007d99d9df64c50cc24d696d79555.woff') format('woff'),
    /* chrome、firefox */
      url('./@font-face/105007d99d9df64c50cc24d696d79555.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./@font-face/105007d99d9df64c50cc24d696d79555.svg#Graphik Web Regular Regular')
      format('svg'); /* iOS 4.1- */
}
* {
  font-family: 'Graphik Web Regular Regular';
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}
a {
  text-decoration: none;
}

:root {
  /****************** Light Mode ******************/
  --nav-bar-light: #db4c3f;
  --bg-light: #ffffff;
  --sidebar-light: #fafafa;
  --font-color-light: #202020;
  --modal-header-bg-light: #fafafa;
  --modal-input-bg-dark: #ffffff;
  --modal-cancel-btn-light: #f3f3f3;

  /****************** Dark Mode *******************/
  --nav-bar-dark: #282828;
  --bg-dark: #1f1f1f;
  --sidebar-dark: #242424;
  --font-color-dark: #e2e2e2;
  --modal-header-bg-dark: #202020;
  --modal-input-bg-dark: #202020;
  --modal-cancel-btn-dark: #353535;
}

.falsesiteContainer,
.truesiteContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.falsesiteContainer {
  background-color: var(--bg-light);
}
.truesiteContainer {
  background-color: var(--bg-dark);
}

#root {
  overflow: hidden;
  height: 100%;
}

.sideMenu-enter {
  margin-left: -15.76vw;
}
.sideMenu-enter-active {
  margin-left: 0;
  transition: 200ms;
}
.sideMenu-exit {
  margin-left: 0;
}
.sideMenu-exit-active {
  margin-left: -15.76vw;
  transition: 200ms;
}
