.nav {
  height: 5vh;
  display: flex;
  justify-content: center;
}

.container {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 80%;
}
.userInteractions {
  display: flex;
  width: 10%;
  flex-direction: row;
  gap: 5%;
}

.trueNav {
  background-color: var(--nav-bar-dark);
}
.falseNav {
  background-color: var(--nav-bar-light);
}
.trueFont {
  color: var(--font-color-dark);
}
.falseFont {
  color: var(--font-color-light);
}
