.falseNav,
.trueNav {
  height: 44px;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.trueNav {
  background-color: var(--nav-bar-dark);
}
.falseNav {
  background-color: var(--nav-bar-light);
}

.container {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 96%;
}
.userInteractions {
  display: flex;
  width: 20%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  gap: 5%;
}

.trueFont {
  color: var(--font-color-dark);
}
.falseFont {
  color: var(--font-color-light);
}
.navText {
  color: white;
}
.navSplash {
  display: flex;
  background-color: white;
  height: 5.29vh;
  justify-content: center;
}

.logoContainer {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
}
.logoContainer > span {
  color: #e44332;
  font-weight: bold;
  font-size: 1.1em;
}

.logo {
  height: 50%;
}
.addTaskContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 74.5%;
  width: 32px;
  cursor: pointer;
}

.addTask {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  padding-right: 1%;
}

.addTask:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.homeIcon,
.menuIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
  border-radius: 3px;
}
.homeIcon:hover,
.menuIcon:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
